<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./views/components/header.ejs') %>
    <h1>Accueil</h1>
    <% if(hello === 'bonjour') { %>
        <p><%= hello %> <%= year %></p>
    <% } else { %>
        <p>blabla</p>
    <% } %>
    <img src="/images/paysage.jpg" alt="">
</body>
</html>