<header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/contact">Contact</a>
        <!-- Si l'utilisateur n'est pas connecté il peut accéder à la page "Connexion" -->
        <% if(!isConnected) { %>
            <a href="/signin">Connexion</a>
        
        <!-- Si l'utilisateur est connecté il peut accéder aux pages Admin et Déconnexion -->
        <% } else { %>
            <a href="/admin">Admin</a>
            <a href="/logout">Déconnexion</a>
        <% } %>
    </nav>
    </header>