<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <%- include('./components/header.ejs') %>
    <h1>Inscription</h1>
    <form action="">
        <div>
           <label for="lastname">Nom</label>
           <input type="text" id="lastname" name="lastname"> 
        </div>
        <div>
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname"> 
         </div>
         <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email"> 
         </div>
         <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password"> 
         </div>
         <div>
            <label for="confirm">Confirmation Mot de passe</label>
            <input type="password" id="confirm" name="confirm"> 
         </div>
         <div>
            <label for="street">N° et Nom de voie</label>
            <input type="text" id="street" name="street"> 
         </div>
         <div>
            <label for="zipcode">Code postal</label>
            <input type="text" id="zipcode" name="zipcode" minlength="5" maxlength="5"> 
         </div>
         <div>
            <label for="city">Ville</label>
            <input type="text" id="city" name="city"> 
         </div>
         <button>S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="/signin">Connectez-vous !</a></p>
</body>
</html>