<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <h1>Suppression d'un utilisateur</h1>
    <form action="">
        <a href="/users">Annuler</a>
        <button>Confirmer</button>
    </form>
</body>
</html>